.container {
  max-width: 1268px;
  margin: 0 auto;
}

.header {
  padding: 14px 0;
}

.header--wrapper-logo {
  max-width: 95px;
}

.header--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-wrapper-links {
  display: flex;
  gap: 24px;
}

.header-wrapper-link {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

.header-wrapper-link:hover {
  text-decoration: underline;
}

.header--cta {
  padding: 12px 10px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  background-color: #FFB703AD;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.header--cta:hover {
  background-color: #FFB703;
}

.header-wrapper-buttons {
  display: flex;
  gap: 84px;
  align-items: center;
}

.header--cart {
  position: relative;
  cursor: pointer;
}

.header--cart .icon-buble {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: #FFB703;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}

.header--mobile-burger {
  display: none;
}

.new-header {
  padding: 14px 20px;
}

@media screen and (max-width: 991px) {
  .container {
    padding: 0 20px;
  }

  .header--mobile-burger {
    display: block;
  }

  .header--wrapper-logo {
    max-width: 50px;
  }

  .header {
    padding: 8px 0;
  }

  .header--cart svg {
    width: 27px;
    height: 26px;
  }

  .header--cart .icon-buble {
    width: 13px;
    height: 13px;
    font-size: 8px;
  }

  .header-wrapper-links {
    display: none;
  }

  .header--cta {
    display: none;
  }
}
