 .benefits-wrapper {
   padding: 60px 64px;
 }

 .benefits-title {
   font-size: 40px;
   line-height: 120%;
   font-weight: 400;
   margin-bottom: 36px;
   max-width: 390px;
 }

 .benefits-description {
   font-size: 22px;
   line-height: 30px;
   font-weight: 400;
   margin-bottom: 60px;
   max-width: 650px;
 }

 .benefits-items {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   width: 100%;
   gap: 36px;
   margin-top: 68px;
 }

 .benefits-items__item {
   border-radius: 4px;
   height: 100%;
   display: flex;
   flex-direction: column;
 }

 .benefits-items__item .image-wrapper {
   height: 100%;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   padding-bottom: 66.772%;
   max-height: 426px;
   position: relative;
 }

 .benefits-items__item .image-wrapper img {
   height: 100%;
   object-fit: cover;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   position: absolute;
   transition: all 0.3s ease-in-out;
 }

 .benefits-item__content {
   padding: 30px 24px 24px 24px;
   background: #f5f5dc;
   display: flex;
   flex-direction: column;
   height: 100%;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
 }

 .benefit_item-title {
   font-size: 30px;
   font-weight: 500;
   line-height: 25.2px;
   letter-spacing: -0.72px;
   margin-bottom: 16px;
 }

 .benefit_item-description {
   font-size: 18px;
   font-weight: 400;
   line-height: 130%;
 }

 .benefits-wrapper .cta-button--wrapper .cta_button {
   max-width: 586px;
 }

 .benefits-wrapper .cta-button--wrapper {
   max-width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 70px;
 }

 .image-btn {
   width: 60px;
   height: 60px;
   border-radius: 4px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   z-index: 15;
   top: 20px;
   right: 20px;
   background: #fff;
   cursor: pointer;
 }

 .image-wrapper:has(.image-btn:hover) .benefit-second-image {
   opacity: 1;
   visibility: visible;
 }

 .image-wrapper:has(.image-btn:hover) .benefit-image {
   opacity: 0;
   visibility: hidden;
 }

 .benefit-second-image {
   opacity: 0;
   visibility: hidden;
   z-index: 10;
 }

 .benefits-title,
 .benefits-description,
 .benefits-items__item,
 .benefits-wrapper .cta-button--wrapper,
 .why-jelly--checkmark,
 .why-jelly--trusted-wrapper {
   opacity: 0;
   transform: translateY(24px);
 }

 @media screen and (min-width: 768px) and (max-width: 1024px) {
   .benefits-wrapper {
     padding: 40px 30px;
   }
 }

 @media screen and (max-width: 767px) {
   .benefits-wrapper {
     padding: 40px 20px;
   }

   .benefits-title {
     font-size: 32px;
     line-height: 120%;
     margin-bottom: 20px;
   }

   .benefits-description {
     font-size: 16px;
     line-height: 120%;
   }

   .benefits-items {
     margin-top: 26px;
     grid-template-columns: 1fr;
     gap: 24px;
   }

   .image-btn {
     width: 48px;
     height: 48px;
     top: 16px;
     right: 16px;
   }

   .benefits-item__content {
     padding: 24px 16px;
   }

   .benefit_item-title {
     font-size: 24px;
     letter-spacing: -0.72px;
     line-height: 25px;
   }

   .benefit_item-description {
     font-size: 16px;
     line-height: 130%;
     margin: 0;
   }

   .benefits-wrapper .cta-button--wrapper {
     margin-top: 18px;
   }
 }
