.compare-title {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2%;
  text-align: center;
  max-width: 430px;
  margin-bottom: 0;
}

.compare-wrapper {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.compare-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  max-width: 670px;
  margin: 0 auto;
  margin-top: 160px;
  width: 100%;
}

.compare-card {
  border-radius: 10px;
  padding: 48px 26px;
  position: relative;
}

.compare-card--active {
  background: #f5f5dc;
  padding-top: 100px;
}

.compare-card--muted {
  background: #f4f4f4;
}

.compare-product {
  position: absolute;
  top: -150px;
  left: -9%;
}

.compare-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.compare-list.compare-card--muted {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding-top: 55px;
  padding-bottom: 26px;
}

.compare-card.compare-card--text {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.compare-item {
  font-size: 22px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  text-align: center;
  max-width: 222px;
}

.compare-card-title {
  font-size: 25px;
  font-weight: 400;
  margin: 0 0 22px 0;
  text-align: center;
  max-width: 50%;
}

.compare-title,
.compare-card,
.compare-item,
.compare-product {
  opacity: 0;
}

.compare-card--active {
  transform: translateY(24px);
}

.compare-card--text {
  transform: translateY(32px);
}

.compare-item {
  transform: translateY(12px);
}

.compare-product {
  transform: translateY(20px) scale(0.96);
}

@media screen and (max-width: 767px) {
  .compare-wrapper {
    padding: 40px 20px;
  }

  .compare-title {
    font-size: 26px;
    line-height: 120%;
    max-width: 80%;
  }

  .compare-card {
    max-width: 142px;
    padding: 39px 12px 18px 12px;
    position: relative;
  }

  .compare-item {
    gap: 10px;
  }

  .compare-card.compare-card--text {
    padding-top: 10px;
  }

  .compare-list.compare-card--muted {
    padding: 29px 12px 18px 12px;
  }

  .compare-item svg {
    width: 22px;
    height: 22px;
  }

  .compare-card-title {
    font-size: 14px;
    line-height: 16px;
    max-width: 70%;
    margin-bottom: 0;
    position: absolute;
    top: -33px;
  }

  .compare-product {
    top: -57px;
    max-width: 80px;
    left: 23%;
  }

  .compare-item {
    font-size: 14px;
    line-height: 16px;
  }

  .compare-grid {
    max-width: 298px;
    gap: 14px;
    margin-top: 85px;
  }
}
