.new-hero {
  position: relative;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 54px;
}

.new-hero__video-wrapper {
  position: absolute;
  inset: 0;
  z-index: -2;
  overflow: hidden;
}

.new-hero__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.new-hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.new-hero__content {
  text-align: center;
  color: white;
  max-width: 565px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-hero__heading {
  font-size: 45px;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: 20px;
  margin-top: 0;
}

.new-hero__description {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  max-width: 430px;
}

.cta-button--wrapper {
  max-width: 343px;
  width: 100%;
}

.cta_button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 14px 28px;
  background: #ffb703;
  color: black;
  border-radius: 32px;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.cta_button svg {
  transition: all 0.3s ease-in-out;
}

.cta_button:hover {
  background-color: #ffb703ad;
}

.cta_button:hover svg {
  transform: translateX(5px);
}

.new-hero__checkmark {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  margin-top: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .new-hero {
    justify-content: center;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .new-hero {
    padding: 0;
  }

  .new-hero__heading {
    font-size: 25px;
    max-width: 85%;
  }

  .cta-button--wrapper {
    max-width: 198px;
  }

  .new-hero__description {
    font-size: 14px;
    line-height: 16px;
    max-width: 255px;
  }

  .cta_button {
    font-size: 16px;
  }

  .new-hero__content svg.app-stars {
    display: none;
  }
}
