 .new-footer {
   padding: 60px 20px;
   background: #000;
 }

 .new-footer-wrapper {
   max-width: 1100px;
   margin: 0 auto;
 }

 .new-footer-links {
   display: flex;
   justify-content: center;
   gap: 15px;
 }

 .new-footer-link {
   color: #fff;
   font-size: 14px;
   letter-spacing: 0.6px;
   font-weight: 400;
 }

 .new-footer-signup {
   display: flex;
   justify-content: space-between;
   align-items: end;
   margin-top: 40px;
 }

 .new-footer .new-footer-signup input {
   max-height: 45px;
   max-width: 345px;
   position: relative;
   background: #fff;
 }

 .email-signup-block {
   max-width: 345px;
   position: relative;
 }

 .new-footer .new-footer-signup .email-signup__button {
   position: absolute;
   right: 15px;
   z-index: 5;
   border: none;
   outline: none;
 }

 .new-footer-socials {}

 .follow-btn {
   font-size: 16px;
   color: #fff;
   padding: 9px 10px;
   background: #5433eb;
   border-radius: 999px;
   width: fit-content;
   display: flex;
   align-items: center;
   gap: 5px;
 }

 .follow-btn span {
   display: flex;
   align-items: center;
   gap: 5px;
 }

 .new-footer-socials {
   display: flex;
   gap: 24px;
   align-items: center;
 }

 .follow-btn span svg {
   margin-top: 4px;
 }

 .social-links {
   display: flex;
   gap: 20px;
   align-items: center;
 }

 .email-signup-block {
   flex-shrink: 0;
   width: 100%;
 }

 .email-signup-label {
   font-weight: 700;
   font-size: 18px;
   margin-bottom: 20px;
   color: #fff;
 }

 .new-footer-localization {
   display: flex;
   flex-direction: column;
   gap: 5px;
 }

 .new-footer-localization span {
   font-size: 13px;
   line-height: 20px;
   letter-spacing: 0.4px;
 }

 .language-selector {
   width: fit-content;
 }

 .language-selector--collapse-space .svg-wrapper.icon-caret {
   right: 15px;
   color: #000;
 }

 .language-selector {
   padding: 0;
 }

 .new-footer-localization {
   color: #fff;
   font-size: 13px;
   letter-spacing: 0.4px;
   font-weight: 400;
 }

 .localization-form__select {
   height: 40px;
   background: #fff;
   width: 200px;
   font-size: 16px;
   border: 1px solid #1212128c;
   text-align: center;
   border-radius: 0;
 }

 .new-footer-middle {
   display: flex;
   justify-content: space-between;
   align-items: end;
   margin-top: 80px;
 }

 .payments-image-wrapper {
   max-width: 430px;
 }

 .new-footer-copyright {
   font-size: 11px;
   letter-spacing: 0.7px;
   display: block;
   margin-top: 40px;
   color: #fff;
 }

 .email-signup__message.email-signup__message--success {
   color: #fff;
   margin-top: 10px;
 }

 @media screen and (max-width: 767px) {
   .new-footer-links {
     flex-direction: column;
     gap: 20px;
   }

   .new-footer-signup {
     flex-direction: column;
     align-items: center;
   }

   .email-signup-label {
     text-align: center;
   }

   .new-footer-socials {
     flex-direction: column;
     gap: 20px;
     margin-top: 16px;
   }

   .new-footer-links {
     padding: 0 20px;
   }

   .new-footer-copyright {
     padding: 0 20px;
     text-align: center;
   }

   .new-footer {
     padding: 60px 0;
   }

   .new-footer-middle {
     flex-direction: column;
     align-items: center;
     gap: 30px;
     margin-top: 30px;
     padding: 40px;
     border-top: 1px solid #fff;
   }
 }
