 .faq {
   display: flex;
   justify-content: center;
   padding: 80px 20px;
 }

 .faq-wrapper {
   max-width: 1100px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
 }

 .faq-grid {
   width: 100%;
   display: flex;
   flex-direction: column;
 }

 .faq-item {
   padding: 20px 0;
   border-bottom: 1px solid #d1d5db;
 }

 .faq-item__header {
   display: flex;
   justify-content: space-between;
   font-size: 18px;
   font-weight: 600;
   line-height: 28px;
   cursor: pointer;
 }

 .faq-item__header span {
   max-width: 280px;
 }

 .faq-heading {
   font-size: 40px;
   line-height: 120%;
   font-weight: 600;
   max-width: 485px;
   text-align: center;
 }

 .faq-item.is-open .faq-item__answer-wrapper {
   grid-template-rows: 1fr;
 }

 .faq-item.is-open .faq-item__answer {
   opacity: 1;
 }

 .faq-item svg .revert-element {
   transition: all 0.3s ease-in-out;
 }

 .faq-item.is-open svg .revert-element {
   opacity: 0;
 }

 .faq-item svg path:not(.revert-element) {
   transition: all 0.3s ease-in-out;
 }

 .faq-item.is-open svg path:not(.revert-element) {
   stroke: #2f7d39;
 }

 .faq-item__answer-wrapper {
   display: grid;
   grid-template-rows: 0fr;
   transition: grid-template-rows 0.3s ease-in-out;
 }

 .faq-item__answer {
   opacity: 0;
   overflow: hidden;
   transition: opacity 0.3s ease-in-out;
   font-size: 18px;
   line-height: 130%;
   max-width: 93%;
 }

 .faq-item__answer p {
   margin-top: 12px;
 }

 @media screen and (max-width: 767px) {
   .faq {
     padding: 40px 20px;
   }

   .faq-heading {
     margin-top: 15px;
     font-size: 26px;
     line-height: 120%;
     max-width: 80%;
   }

   .faq-item {
     padding: 16px 0;
   }

   .faq-item__header span {
     max-width: 265px;
   }

   .faq-item__answer p {
     margin-bottom: 15px;
   }

   .faq-item__answer {
     font-size: 17px;
   }

   .faq-item__header {
     font-size: 16px;
   }
 }
